@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-100;
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.status-badge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-weight: bold;
  color: white;
}
.status-processing {
  background-color: #fbbf24;
}
.status-delivered {
  background-color: #10b981;
}
.status-pending {
  background-color: #ef4444;
}
.status-shipped {
  background-color: #3b82f6;
}
